/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightgray;
}

.navbar {
    background-color: rgba(51,51,51,.9) !important;
}

.card {
    border: 4px solid blanchedalmond;
}

.card-body {
    text-align: center;
}